# ignore all by default
*

!.gitignore
!README.md
!LICENSE.md
!services.yaml.template
!Tiltfile
!compose.yaml
!compose.dev.yaml

# SDK packages
!packages/
!packages/vortex-events/
!packages/vortex-events/**
packages/vortex-events/node_modules/
packages/vortex-events/dist/
